html {
	background-image: url("../img/shrine2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #444;
	height: 100%;
}

html, body {
	text-align: center;
	color: white;
}

.animate {
	transition: all 1s;
}

.title {

	font-family: 'Merriweather', serif;
	font-weight: bold;
	margin-top: 150px;
	font-size: 60px;
	text-shadow: #00ADFF 1px 0 15px;
	text-transform: capitalize;
}

.shrine-title {
	text-transform: capitalize;
}

.subtitle {
	font-family: 'Roboto', sans-serif;
	margin-top: 15px;
	font-weight: bold;
	font-style: italic;
	letter-spacing: 1px;
	font-size: 24px;
	text-shadow: #00ADFF 1px 0 15px;
	cursor: pointer;
}

.nmr-5 {
	margin-right: -5px;
}

.nml-9 {
	margin-left: -9px;
}

#save-notice {
	font-family: 'Merriweather', serif;
	position: absolute;
	bottom: 5%;
	right: 12%;
	font-size: 20px;
	text-shadow: #00ADFF 1px 0 15px;
	text-transform: capitalize;
	cursor: pointer;
}

.big-letter {
	position: relative;
	top: 1px;
	font-size: 24px;
	display: inline-block;
	background-color: white;
	padding: 5px 13px 5px 13px;
	border-radius: 50%;
	text-shadow: none;
	color: #5EA084;
	margin-right: 5px;
}

@media screen and (max-width: 1200px){

	#save-notice {
		bottom: 12%;
		right: 10%;
		font-size: 20px;
	}

.big-letter {
	top: 1px;
	font-size: 24px;
	padding: 5px 13px 5px 13px;
	margin-right: 5px;
}


	.title {
		font-size: 48px;
	}
	.subtitle {
		font-size: 22px;
	}
}


@media screen and (max-width: 1024px){

	#save-notice {
		bottom: 16%;
		right: 8%;
		font-size: 18px;
	}

	.big-letter {
		font-size: 20px;
		padding: 4px 11px 4px 11px;
	}


	.title {
		font-size: 38px;
		margin-top: 175px;

	}
	.subtitle {
		font-size: 18px;
		margin-top: 10px;
	}
}

@media screen and (max-width: 768px){

	#save-notice {
		bottom: 8%;
		right: 8%;
		font-size: 16px;
	}

	.big-letter {
		font-size: 18px;
		padding: 4px 11px 4px 11px;
	}

	.title {
		font-size: 28px;
		margin-top: 80px;
	}

	.subtitle {
		font-size: 16px;
	}
}

@media screen and (max-width: 500px){
	.title {
		font-size: 20px;
		margin-top: 80px;
	}
	.subtitle {
		font-size: 14px;
		margin-top: 8px;
	}
}