html, body {
	text-align: center;
	color: #333;

	/*color: white;*/
}

.container {
	width: 960px;
	margin: 0px auto;
}


#mainCanvas {
	width: 960px;
	height: 540px;
	border-radius: 4px;
}

.title {
	font-size: 22px;
	text-align: left;
	float: left;
	margin-top: 15px;
	margin-bottom: 15px;
}

.buttons {
	float: right;
	font-family: 'Merriweather', serif;
	font-size: 18px;
	margin-top: 10px;

}

.buttons div {
	display: inline-block;
	position: relative;
	cursor: pointer;
	margin-left: 15px;
	transition: .8s all;
}

.buttons div:hover {
	color: #666;
}

.buttons div:hover .big-letter {
	background-color: #666;	
}




.big-letter {
	transition: .8s all;
	position: relative;
	top: 1px;
	/*font-size: 18px;*/
	display: inline-block;
	background-color: #333;
	padding: 4px 10px 4px 10px;
	border-radius: 50%;
	text-shadow: none;
	color: white;
	margin-right: 4px;
}

/*

.animate {
	transition: all 1s;
}

.title {
	font-family: 'Merriweather', serif;
	font-weight: bold;
	margin-top: 150px;
	font-size: 60px;
	text-shadow: #00ADFF 1px 0 15px;
	text-transform: capitalize;
}

.shrine-title {
	text-transform: capitalize;
}

.subtitle {
	font-family: 'Roboto', sans-serif;
	margin-top: 15px;
	font-weight: bold;
	font-style: italic;
	letter-spacing: 1px;
	font-size: 24px;
	text-shadow: #00ADFF 1px 0 15px;
	cursor: pointer;
}

.nmr-5 {
	margin-right: -5px;
}

.nml-9 {
	margin-left: -9px;
}

#save-notice {
	font-family: 'Merriweather', serif;
	position: absolute;
	bottom: 5%;
	right: 12%;
	font-size: 20px;
	text-shadow: #00ADFF 1px 0 15px;
	text-transform: capitalize;
	cursor: pointer;
}

.big-letter {
	position: relative;
	top: 1px;
	font-size: 24px;
	display: inline-block;
	background-color: white;
	padding: 5px 13px 5px 13px;
	border-radius: 50%;
	text-shadow: none;
	color: #5EA084;
	margin-right: 5px;
}*/

@media screen and (max-width: 1024px){

	#mainCanvas {
		width: 720px;
		height: 405px;
	}

	.container {
		width: 720px;
	}

	.title {
		font-size: 20px;
	}

	.buttons {
		font-size: 16px;
		margin-top: 4px;
	}


}

@media screen and (max-width: 768px){

	#mainCanvas {
		width: 540px;
		height: 304px;
	}

	.container {
		width: 540px;
	}

	.title {
		font-size: 16px;
	}

	.buttons {
		font-size: 14px;
		margin-top: 4px;
	}

	.big-letter {
		padding: 3px 8px 3px 8px;
		margin-right: 3px;
	}

}

@media screen and (max-width: 540px){
	#mainCanvas {
		width: 405px;
		height: 228px;
	}

	.container {
		margin-top: 25px;
		width: 405px;
	}

	.title {
		float: none;
		text-align: center;
	}

	.buttons {
		float: none;
	}

}